<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../Home/Index.cshtml"> <span class="glyphicon glyphicon-home"></span></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> نقاط <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">شعب</a></li>
                            <li><a href="#">باجه ها</a></li>
                            <li><a href="#">دستگاه های خودپرداز ATM</a></li>
                            <li><a href="#">سرپرستی مناطق</a></li>
                            <li><a href="#">ستاد و ادارات</a></li>
                            <li><a href="#">ساختمان نگین</a></li>
                            <li><a href="#">ساختمان حقانی</a></li>
                            <li><a href="#">ساختمان هفت تیر</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> خطوط <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">مخابرات</a></li>
                            <li><a href="#">وایمکس / TDLTE</a></li>
                            <li><a href="#">ماهواره</a></li>
                            <li><a href="#">فیبر تاریک</a></li>
                            <li><a href="#">وایرلس OutDoor</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">آی پی <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">تخصیص آی پی</a></li>
                            <li><a href="#">تعریف رنج جدید</a></li>
                            <li><a href="#">جستجو</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">کلیشه کانفیگ <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">روتر</a></li>
                            <li><a href="#">سوئیچ</a></li>
                            <li><a href="#">فایروال</a></li>
                            <li><a href="#">سایبروم</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">نقشه شبکه <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">شعب</a></li>
                            <li><a href="#">سرپرستی مناطق</a></li>
                            <li><a href="#">ادارات</a></li>
                            <li><a href="#">ساختمان نگین</a></li>
                            <li><a href="#">سایت فناوری</a></li>
                            <li><a href="#">سایت حقانی</a></li>
                            <li><a href="#">ساختمان هفت تیر</a></li>
                            @*<li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">One more separated link</a></li>*@
                        </ul>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>
    <div class="container-fluid body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/lib")
    @RenderSection("scripts", required: false)
    
    <script>
        $(document).ready(function() {

        });
    </script>
</body>
</html>
